<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEIoyxjet0_B1a0U_wmgWMA_neXntUgyg</string>
	<key>GCM_SENDER_ID</key>
	<string>696613839776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyPlannerProApp</string>
	<key>PROJECT_ID</key>
	<string>auth-3ddeb</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-3ddeb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696613839776:ios:4bca6dd3bd2d126a3afac5</string>
</dict>
</plist>